<?xml version="1.0"?>
<configuration>
  <connectionStrings>
  <add name="EventsConnection" connectionString="metadata=res://*/Models.Events.csdl|res://*/Models.Events.ssdl|res://*/Models.Events.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Users\otac0n\Projects\Productivity\Productivity\events.sqlite&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
